@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.sidebar {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.sidebar_down {
  -webkit-animation: slide_down 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide_down 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide_down {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide_down {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.textcolor1 {
  color: #444;
}

.textcolor2 {
  color: #555;
}

.color_blue {
  color: #2978b5;
}

/* Default */
/* The switch - the box around the slider */
#theme-toggle-button {
  font-size: 17px;
  position: relative;
  display: flex;
  width: 3.5em;
  cursor: pointer;
  justify-content: center;
  align-items: center;

}

/* Hide default HTML checkbox */
#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked + svg #container {
  fill: #0f1528;
}

/* move button to right when checked */
#toggle:checked + svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}

.button {
  cursor: pointer;
  font-family: poppins;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: #2978b5;
  border: 3px solid #2978b5;
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #2978b5;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 8;
}

.button:hover {
  color: #fff;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.button:active {
  scale: 1;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  margin-bottom: 6rem;
  margin-top: 7rem;
}


.project {
  height: 254px;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem;
  margin: auto;
  transition: all 0.4s;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.icon {
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  color: #2978b5;
}

.social_icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.social_icon {
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.nav-icon {
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.nav-icon:hover {
  color: rgb(14 165 233);
  transform: scale(1);
}

.home-img {
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.home-img:hover {
  transform: translateY(-15px);
}

.icon_container {
  height: auto;
  width: 200px;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem;
  margin: auto;
  transition: all 0.4s;
}